header
{
	background: #e6e1d8;
	padding: 20px 0;
}
body
{
	min-height: 100%;
}
.caixa
{
	display: flex;
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.icone-header:hover
{
	width: 177px;
	height: 250px;
}
.icone-header:hover
{
	opacity: 0.6;
	transition: all 0.3s;
}
nav
{
	position: absolute;
	top: 110px;
	right: 0;
}
nav li
{
	display: inline;
	margin: 0 0 0 15px;
}
nav a
{
	position: relative;
	text-transform: uppercase;
	color: #000000;
	color: brown;
	font-family: Impact;
	font-size: 26px;
	text-decoration: none;
}
nav a:hover
{
	color: rgba(24, 19, 5, 0.8);
	transition: all 0.3s;

}
nav a:active
{
	color: #c49028;
}

.agendarnav
{
	padding:5px 5px;
	background: #423a38;
	color:#ffffff;
	border-radius: 5px;
}
.agendarnav:hover
{
	color: #fffb00;
	background: rgba(42, 31, 38, 0.8);
	transition: all 0.3s;
}
.caixa-titulo
{
	width: 100%;
	height: 300px;
	background: url("beneficios2.jpg");
	-webkit-mask-image: linear-gradient(to top, transparent 0%, #e6e1d8 70%);
}
.caixa-titulo h1
{
	position: relative;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-family: Impact;
	font-size: 80px;
	text-align: center;
	padding: 110px; 
}
main
{
    width:940px;
    margin:0 auto;
}
form
{
    padding: 50px;
}
form label, form legend
{
    display:block;
    font-size: 16px;
    color: #757575;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0 0 10px;
}
::placeholder
{
	color: brown;
	opacity: 0.5;
	font-style: italic;
}
.input-padrao
{
    display:block;
    margin:0 0 20px;
    padding:10px 25px;
	width: 50%;
}
.opcao-escolha, .opcao-escolha legend
{
	display:block;
	margin:0 0 15px;
	padding:10px 0px;
}
.opcao-horario
{
	display:block;
	margin:0 0 15px;
}
select
{
	width: 250px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	color: #757575;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.checkbox
{
	margin: 30px 0;
}

.enviarinput
{
	background: brown;
	text-transform: uppercase;
	color: white;
	width: 100px;
	height: 50px;
	border-style: none;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enviarinput:hover
{
	background-color: #000000;
	color:white;
	transition: 0.3s;
	cursor: pointer;
}
.enviarinput:active
{
	color: #fffb00;
}
footer
{
	text-align: center;
	background: url("bg.jpg");
	padding: 20px 0px;
}
footer p
{
	font-family: Segoe UI;
	font-size:14px;
	color:#e6e1d8;
}
#logofooter
{
	width: 88.5px;
	height: 125px;
}